
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-user-tie"></i> Admin Panel
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/showpatient">
                <i class="fa-solid fa-bed"></i> Patient Approval
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/PatientBillComponent">
                <i class="fa-solid fa-bangladeshi-taka-sign"></i>Patient Bill 
            </a>
        </li>
   
        <li class="nav-item">
            <a class="nav-link" routerLink="/receipt-of-payment">
                <i class="fa-solid fa-eye"></i> View Doctors Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/showandDischarge">
                <i class="fa-solid fa-eject"></i>Discharge Patients
            </a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/RecordsComponent">
                <i class="fas fa-folder"></i> Patients Records
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">
                <i class="fas fa-sign-out-alt"></i> Log Out
            </a>
        </li>
    </ul>
</div>