<app-header></app-header>
<div class="container mt-5">
  <h2>Registration Form</h2>
  <form (ngSubmit)="register()">
    <!-- Username input -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" required>
    </div>
    
    <!-- Email input -->
    <div class="form-group">
             <label for="email">Email</label>
                         <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required>
    </div>
    
    <!-- Password input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Create a password" [(ngModel)]="password" required>
    </div>
    
    <!-- Dropdown menu for selecting Gender -->
    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="role" name="role"  [(ngModel)]="role" required>
        <option value="">Select Role</option>
        <option value="Admin">Admin</option>
        <option value="Doctor">Doctor</option>
      </select>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i>Register</button>
  </form>
</div>
<app-footer></app-footer>