<app-header></app-header>
<div class="row">
  <div class="col-md-3">
    <app-doctor-sidebar></app-doctor-sidebar>
  </div>
  <div class="col-md-9">
    <div class="container">
      <h2 class="text-center my-4">Search Records</h2>
      <form (ngSubmit)="searchRecords()">
        <div class="form-group">
          <label for="dateFrom">Date From</label>
          <input type="date" id="dateFrom" class="form-control" name="dateFrom" [(ngModel)]="dateFrom"
            placeholder="Select a date">
        </div>
        <div class="form-group">
          <label for="dateTo">Date To</label>
          <input type="date" id="dateTo" class="form-control" name="dateTo" [(ngModel)]="dateTo"
            placeholder="Select a date">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Search Records</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>