
<app-header></app-header>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img src="assets\carosel\caro1.jpg" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets\carosel\caro2.jpg" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets\carosel\caro3.jpg" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets\carosel\caro4.jpg" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item active">
        <img src="assets\carosel\caro5.jpg" class="d-block w-100 " alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets\carosel\caro6.png" class="d-block w-100" alt="Slide 2">
      </div>
      <!-- Add more slides as needed -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- card starts here -->

  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card-top">
                <img src="assets\cards\card1.jpg" class="card-img-top-bottom" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">“Service is perfect all good, everything is being taken care of, very grateful to United Hospital&rsq</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card-top">
                <img src="assets\cards\card2.jpg" class="card-img-top-bottom" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">“Very pleased all good – I am very grateful thankful ....</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card-top">
                <img src="assets\cards\card1.jpg" class="card-img-top-bottom" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- profile cards starts -->
<div class="container my-5">
    <div class="text-center mb-4">
        <h2>OUR MULTI-DISCIPLINARY SPECIALISTS</h2>
        <p>State of the art technology and expertise combined with the support of our friendly staff, we strive each day to be the top healthcare provider, not only in Bangladesh but within the Asia-Pacific region.</p>
       
    </div>
    
    <div class="row">
        <!-- Profile Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets\doctor profile\d1.jpg" alt=" DR. A. M. SHAFIQUE">
                <div class="card-body">
                    <h5 class="card-title">
                        DR. A. M. SHAFIQUE
                </h5>
                    <p class="card-text">CARDIOLOGY
                        MBBS, MD (Cardiology)
                        
                        Senior Consultant
                    </p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
            
        </div>

         <!-- Profile Card 2 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets\doctor profile\d2.jpg" alt="DR. ANGEL RAI">
                <div class="card-body">
                    <h5 class="card-title">
                       
                        DR. MD. HOSNE MOBARAK
                       </h5>
                    <p class="card-text"> ANESTHESIOLOGY
                        MBBS, MCPS, FCPS, DA
                        
                        Consultant
                    </p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>

         <!-- Profile Card 3 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets\doctor profile\d3.jpg" alt="DR. ANGEL RAI">
                <div class="card-body">
                    <h5 class="card-title">
                        
                        PROF. DR. RAFIQUES SALEHIN
                        </h5>
                    <p class="card-text">GENERAL SURGERY
                        MBBS, FCPS (BD), FRCS (Glasg), FRCS (Edin)
                        
                        Senior Consultant, General & Advanced Endo-Laparoscopic Surgery
                    </p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>

         <!-- Profile Card 4 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/dr ashia.jpeg" alt="Dr. Ashia Haque">
                <div class="card-body">
                    <h5 class="card-title">Dr. Ashia Haque</h5>
                    <p class="card-text">Gynae Oncology department</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
         <!-- Profile Card 5 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/dr kaisar.jpeg" alt="Dr. Kaisar Ali">
                <div class="card-body">
                    <h5 class="card-title">Dr. Kaisar Ali</h5>
                    <p class="card-text">Cardiology department</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
         <!-- Profile Card 6 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/Dr Lubna Mariam.jpeg" alt="DR. Lubna Mariam">
                <div class="card-body">
                    <h5 class="card-title">DR. Lubna Mariam</h5>
                    <p class="card-text">Nutritionist</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
         <!-- Profile Card 7 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/Dr. S. M. Sadlee.jpeg" alt="DR. S.M.Sadlee">
                <div class="card-body">
                    <h5 class="card-title">DR. S.M.Sadlee</h5>
                    <p class="card-text">Neuro Surgeon</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
         <!-- Profile Card 8 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/Dr.Abul Kalam Mohiuddin.jpeg" alt="DR. Abul Kalam Mohiuddin">
                <div class="card-body">
                    <h5 class="card-title">Dr.Abul Kalam Mohiuddin</h5>
                    <p class="card-text">Vascular Sergeon</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
         <!-- Profile Card 9 -->
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/doctor profile/d5.jpeg" alt="DR. ANGEL RAI">
                <div class="card-body">
                    <h5 class="card-title">DR.Sami Aslam</h5>
                    <p class="card-text">Laparoscopic Surgeon</p>
                </div>
                <a routerLink="/department" class="btn btn-primary">Make Appointment</a>
            </div>
        </div>
        <!-- Repeat for other profile cards -->
    </div>
</div>

<app-footer></app-footer>