
<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-user-doctor"></i>  Doctor Panel
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/findPatient">
        <i class="fas fa-calendar-check"></i>  My Appointment
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/GivePrescriptionComponent">
        <i class="fas fa-prescription"></i>  Add Prescription
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admittedpatient">
        <i class="fas fa-hospital-user"></i>  View Admitted Patient
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-sign-out-alt"></i>  Log Out
      </a>
    </li>
  </ul>
</div>