<app-header></app-header>
<div class="row">
  <div class="col-md-3">
    <app-doctor-sidebar></app-doctor-sidebar>
  </div>
  <div class="col-md-9">

    <div class="container">
      <h2 class="ml-5 text-center">Patient Search</h2>
      <form (ngSubmit)="searchPatient()">
        <label for="doc_name">Your Doctor ID</label>
        <input type="text" id="doc_name" placeholder="Enter your doctor Id" name="doc_name" [(ngModel)]="doc_name">
        <button type="submit" class="mt-3">Search</button>
      </form>
    </div>
  </div>
</div>






<!------------------- patients appointment details table----------------------->
<div class="container mt-5">
  <h3 class="text-center"> Appointment details</h3>
  <table class="table stripe">
    <tr>
      <th>Patient Id</th>
      <th>Patient Name</th>
      <th>Doctor Id</th>
      <th>Consultation fee</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let i of allpatient">
      <td>{{i.p_id}}</td>
      <td>{{i.p_name}}</td>
      <td>{{i.doc_name}}</td>
      <td>{{i.c_fee}}</td>
      <td>{{i.date}}</td>
      <td>{{i.time}}</td>

      <td>
        <!-- <button (click)="update(i.username)"><i class="fa-solid fa-user-pen"></i></button> -->
        <button (click)="delete(i.p_id)"><i class="fa-solid fa-trash-can"></i></button>
      </td>

    </tr>
  </table>
</div>


<app-footer></app-footer>