<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>About Our Hospital</h2>
      <p>Welcome to Dream Care, where compassionate care meets cutting-edge medicine. Our mission is to provide exceptional healthcare services to our community, ensuring the well-being of every patient who walks through our doors.</p>
      <ul>
        <li><strong>Patient-Centered Approach:</strong> At Dream Care, patients are at the heart of everything we do. We listen, empathize, and tailor our care to meet individual needs.</li>
        <li><strong>Experienced Professionals:</strong> Our team comprises skilled physicians, nurses, and specialists who bring years of expertise to the table.</li>
        <li><strong>State-of-the-Art Facilities:</strong> We invest in advanced technology and modern facilities to deliver the highest quality care.</li>
        <li><strong>Community Engagement:</strong> We actively engage with our community through health education, outreach programs, and preventive initiatives.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="assets/hospitam image/hospital.avif" alt="Hospital Image" class="img-fluid">
    </div>
  </div>
</div>
<app-footer></app-footer>