<app-header></app-header>
<div class="container table-container">
  <h3 class="text-center">Diagnostic Services</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Radiology & Imaging Services</th>
        <th scope="col">Pathology Services</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MRI</td>
        <td>BIOCHEMISTRY</td>
      </tr>
      <tr>
        <td>X-RAY</td>
        <td>HAEMATOLOGY</td>
      </tr>
      <tr>
        <td>MAMMOGRAPHY</td>
        <td>IMMUNOLOGY</td>
      </tr>
      <tr>
        <td>USG	</td>
        <td>SEROLOGY</td>
      </tr>
      <tr>
        <td>ECHOCARDIOGRAM</td>
        <td>MICROBIOLOGY</td>
      </tr>
      <tr>
        <td>MRI	CT SCAN</td>
        <td>CYTOPATHOLOGY</td>
      </tr>
      <tr>
        <td>X-RAY	DENTAL</td>
        <td>HISTOPATHOLOGY</td>
      </tr>
      <tr>
        <td>XRAY</td>
        <td>  
          CLINICAL PATHOLOGY</td>
      </tr>
      <tr>
        <td>MAMMOGRAPHY</td>
        <td>  PCR LAB</td>
      </tr>
      <tr>
        <td>	BONE DENSITOMETER</td>
        <td>IMMUNOHISTOCHEMISTRY (IHC)</td>
      </tr>
      <tr>
        <td>USG</td>
        <td>FlOWCYTOMETRY</td>
      </tr>
      <tr>
        <td>ECG</td>
        <td></td>
      </tr>
      <tr>
        <td>ECHOCARDIOGRAM</td>
        <td></td>
      </tr>
      <tr>
        <td>ENDOSCOPY	ERCP</td>
        <td></td>
      </tr>
      <tr>
        <td>COLONOSCOPY</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>